#toyChoice {
  padding-bottom: 3em;
  color: darkgreen;
  text-align: center;
}
#toyChoice .active {
  color: white;
  background-color: darkgreen;
}


#themeChoice {
  padding-bottom: 2em;
}
#themeChoice .active {
  font-weight: bold;
}

.dark {
  background-color: #282c34;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.toyComponent {
  border: #d7d7d7 solid 1px;
  padding: 2em;
}

tr.selected {
  background-color: #d7d7d7;
}

