#toyChoice {
  padding-bottom: 3em;
  color: darkgreen;
  text-align: center;
}
#toyChoice .active {
  color: white;
  background-color: darkgreen;
}


#themeChoice {
  padding-bottom: 2em;
}
#themeChoice .active {
  font-weight: bold;
}

.offset {
  margin-bottom: 12px;
}
.dark {
  background-color: #282c34;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.toyComponent {
  border: #d7d7d7 solid 1px;
  padding: 2em;
}

tr.selected {
  background-color: #d7d7d7;
}

h1 {
  width: 100%;
}


#stats div:first-child {
  margin-left: 0px;
}


#correct  {
  max-width: 8em;
}

#progress {
vertical-align: center; }

